<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welkom{% endblock %} - In Vino Simfonia</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
            {% stylesheets
                'bootstrap/css/bootstrap.min.css'
                'js/vendor/jquery-ui/jquery-ui.min.css'
                'js/vendor/jquery-ui/jquery-ui.structure.min.css'
                'js/vendor/jquery-ui/jquery-ui.theme.min.css'
                'js/vendor/lightbox/css/lightbox.css'
                'css/*'
            %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!--<div id="wrapper">-->
            {% block nav %}
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('vino_pillar_homepage') }}">In Vino Simfonia</a>
                        </div>
                        <div class="collapse navbar-collapse" id="logindiv">
                            {% block navlinks %}
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ path('vino_pillar_wijnen') }}">Wijnen</a></li>
                                    <li><a href="{{ path('vino_pillar_over-ons') }}">Over ons</a></li>
                                    <li><a href="{{ path('vino_pillar_contact') }}">Contact</a></li>
                                </ul>
                            {% endblock %}
                            {#
                            {% block navuser %}
                                {% if user == null %}
                                    <ul class="nav navbar-nav pull-right">
                                        <li class="dropdown" id="JS_menuLogin">
                                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
                                            <div class="dropdown-menu" style="padding:17px;">
                                                <form class="form" id="formLogin"> 
                                                    <input class="form-control" name="username" id="username" type="text" placeholder="E-mail">
                                                    <input class="form-control" name="password" id="password" type="password" placeholder="Paswoord"><br>
                                                    <input type="submit" value="Login">
                                                </form>
                                                <hr>
                                                <p><a href="{{ path('vino_pillar_login') }}">Nieuwe klant?</a></p>
                                            </div>
                                        </li>
                                        <li id="NOJS_menuLogin"><a href="{{ path('vino_pillar_login') }}">Login</a></li>
                                    </ul>
                                {% else %}
                                    <ul class="nav navbar-nav pull-right">
                                        <li><a href="{{ path('vino_pillar_logout') }}">Logout '{{ user.email }}'</a></li>
                                    </ul>
                                {% endif %}
                            {% endblock %}
                            #}
                            {% block navuser %}
                                <ul class="nav navbar-nav pull-right">
                                {% if mandje is defined and mandje != null %}
                                    <li><a href="{{ path('vino_pillar_mandje') }}">Mandje</a></li>
                                {% endif %}
                                {% if app.user %}
                                    <li><a href="#">{{ app.user.username }}</a></li>
                                    <li><a href="{{ path('logout') }}">Uitloggen</a></li>
                                {% else %}
                                    <li><a href="{{ path('login') }}">Login</a></li>
                                {% endif %}
                                </ul>
                            {% endblock %}
                        </div>
                    </div>
                </nav>
            {% endblock %}
        
            {% block header %}
                <header class="bar-header"></header>
            {% endblock %}
            
            <div id="mainbody">
                {% block flashinfo %}
                    {% for flashMessage in app.session.flashbag.get('infomsg') %}
                        <div class="alert alert-info" role="alert">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endblock %}
                
                {% block klant %}
                    {% if app.user.id is defined %}
                        <pre>
                        {{ app.user.id }}
                        </pre>
                    {% endif %}
                {% endblock %}
                {#
                {% block mandje %}
                    {% if mandje is defined %}
                        Mandje is defined
                        <pre>
                        {{ dump(mandje) }}
                        </pre>
                    {% endif %}
                {% endblock %}
                #}
                {% block body %}{% endblock %}
            </div>

        <!--</div>-->
            
        {% block javascripts %}
            {% javascripts
                'js/vendor/jquery/jquery-1.11.1.min.js'
                'js/vendor/jquery-ui/jquery-ui.min.js'
                'bootstrap/js/bootstrap.min.js'
                'js/vendor/validate/dist/jquery.validate.min.js'
                'js/vendor/serializeobject/jquery.serialize-object.js'
                'js/pillar.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
