{# src/vino/PillarBundle/Resources/views/Default/contact.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Administratiepagina</h1>
    <div class="">
        <div class="col-md-6">
            <h3>Wijnen</h3>
            <ul>
                <li><a href="{{ path('vino_pillar_allewijnen') }}">Overzicht wijnen</a></li>
                <li><a href="{{ path('vino_pillar_nieuwewijn') }}">Wijn toevoegen</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Categorieën</h3>
            <ul>
                <li><a href="{{ path('vino_pillar_allecats') }}">Overzicht categorieën</a></li>
                <li><a href="{{ path('vino_pillar_nieuwecat') }}">Categorie toevoegen</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Landen</h3>
            <ul>
                <li><a href="{{ path('vino_pillar_allelanden') }}">Overzicht landen</a></li>
                <li><a href="{{ path('vino_pillar_nieuweland') }}">Land toevoegen</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Bestellingen</h3>
            <ul>
                <li><a href="{{ path('vino_pillar_allebestellingen') }}">Overzicht bestellingen</a></li>
            </ul>
        </div>
    </div>
{% endblock %}