{# src/vino/PillarBundle/Resources/views/Admin/productdetail.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-11">
        {{ include('vinoPillarBundle::Snippets/product_cassette.html.twig') }}
        </div>
        <div class="col-sm-1 productdetail-actie">
            <a class="btn btn-default" href="{{ path('vino_pillar_allewijnen') }}" alt="Wijnen overzicht" title="Wijnen overzicht"><span class="glyphicon glyphicon-list"></span></a>
            <a class="btn btn-warning" href="{{ path('vino_pillar_bewerkwijn', {'id': product.id}) }}" alt="Bewerk" title="Bewerk"><span class="glyphicon glyphicon-edit"></span></a>
            <a class="btn btn-danger" href="{{ path('vino_pillar_verwijderwijn', {'id': product.id}) }}" alt="Verwijder" title="Verwijder"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    {% if reviews != null %}
        <h3>Gebruikersreviews</h3>
        {% for review in reviews %}
            <div class="col-sm-11">
            {{ include('vinoPillarBundle::Snippets/product_review.html.twig') }}
            </div>
            <div class="col-sm-1"><a class="btn btn-danger" href="{{ path('vino_pillar_verwijderreview', {'wijnid': product.id, 'id': review.id})}}" title="Verwijder deze review" alt="Verwijder deze review"><span class="glyphicon glyphicon-trash"></span></a></div>
        {% endfor %}
    {% else %}
        <p>Geen gebruikersreviews...</p>
    {% endif %}
{% endblock %}