{# src/vino/PillarBundle/Resources/views/Mandje/checkout.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block body %}
    <h1>Besteloverzicht</h1>
    <div class="well">
        <h3>Adresgegevens</h3>
        <p>
            {{ user.vNaam }}&nbsp;{{ user.aNaam }}<br>
            {{ user.straat }}&nbsp;{{ user.huisnr }}{% if user.busnr != null or user.busnr != '' %}&nbsp;(bus {{ user.busnr }}){% endif %}<br>
            {{ user.postcode }}&nbsp;{{ user.gemeente }}
        </p>
    </div>
    <h3>Bestelling</h3>
    {% if mandje is defined and mandje != null %}
        <!--<div class="alert alert-info">Proficiat, u heeft een bestelmandje-variabele</div>-->
        <!--<div class="alert alert-info">Mandje variabele:
            <pre>
            {{ dump(mandje) }}
            </pre>
        </div>-->
        <table class="productlijst" border="1">
            <thead>
                <tr>
                    <td>Aantal</td>
                    <td>Naam</td>
                    <td>Jaar</td>
                    <td>Prijs / stuk</td>
                    <td>Subtotaal</td>
                </tr>
            </thead>
            <tbody>
                {% set subtotaalBestelling = 0 %}
                {% for bestellijn in mandje.bestellijn %}
                    <tr class="productlijst-bestellijn">
                        <td>{{ bestellijn.aantal }}</td>
                        <td>{{ bestellijn.wijn.naam }}</td>
                        <td>{{ bestellijn.wijn.jaar }}</td>
                        <td>&euro; {{ (bestellijn.wijn.prijs / 100)|number_format(2) }}</td>
                        <td>
                            &euro; {{ (bestellijn.wijn.prijs * bestellijn.aantal / 100)|number_format(2) }}
                        </td>
                    </tr>
                    <tr class="productlijst-verpakkinglijn-info-top">
                        <td colspan="5">
                            Verpakking
                        </td>
                    </tr>
                    <tr class="productlijst-verpakkinglijn-info-sub">
                        <td>Aantal</td>
                        <td colspan="2">Omschrijving</td>
                        <td>Prijs / stuk</td>
                        <td>Subtotaal</td>
                    </tr>
                    {% set aantalVerpakteFlessen = 0 %}
                    {% set subtotaalVerpakking = 0 %}
                    {# Iteratie om na te gaan hoeveel verpakte flessen er in totaal al zijn #}
                    {% for verpakkingtype in verpakkinglijst %}
                        {% for verpakkinglijn in bestellijn.verpakkinglijn %}
                            {% if verpakkinglijn.verpakking.id == verpakkingtype.id %}
                                {% set aantalVerpakteFlessen = aantalVerpakteFlessen + (verpakkinglijn.aantal * verpakkingtype.aantalFlessen) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <tr class="productlijst-verpakkinglijn-item">
                        <td>{{ (bestellijn.aantal - aantalVerpakteFlessen) }}</td>
                        <td colspan="2">Losse fles</td>
                        <td>&euro; 0.00</td>
                        <td>&euro; 0.00</td>
                    </tr>
                    {% for verpakkingtype in verpakkinglijst %}
                        <tr class="productlijst-verpakkinglijn-item">
                            <td>
                                {# Aantal checken en weergeven door iteratie #}
                                {% set aantalVerpakking = 0 %}
                                {% for verpakkinglijn in bestellijn.verpakkinglijn %}
                                    {% if verpakkinglijn.verpakking.id == verpakkingtype.id %}
                                        {#<pre>
                                        {{ dump(verpakkinglijn) }}
                                        </pre>#}
                                        {% set aantalVerpakking = verpakkinglijn.aantal %}
                                        {# set aantalVerpakteFlessen = aantalVerpakteFlessen + (aantalVerpakking * verpakkingtype.aantalFlessen) #}
                                    {% endif %}
                                {% endfor %}
                                {{ aantalVerpakking }}
                            </td>
                            <td colspan="2">{{ verpakkingtype.naam }}</td>
                            <td>&euro; {{ (verpakkingtype.prijs / 100)|number_format(2) }}</td>
                            <td>
                                {# Subtotaal van deze verpakkinglijn #}
                                {% set subtotaalVerpakkinglijn = verpakkingtype.prijs * aantalVerpakking %}
                                {# Dit toevoegen aan het subtotaal van de verpakking #}
                                {% set subtotaalVerpakking = subtotaalVerpakking + subtotaalVerpakkinglijn %}
                                &euro; {{ (subtotaalVerpakkinglijn / 100)|number_format(2) }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="productlijst-verpakkinglijn-subtotaal">
                        <td colspan="4">Subtotaal verpakkingen</td>
                        <td>&euro; {{ (subtotaalVerpakking / 100)|number_format(2) }}</td>
                    </tr>
                    {# Optellen van subtotalen voor deze bestellijn bij het geheel #}
                    {% set subtotaalBestelling = subtotaalBestelling + subtotaalVerpakking + (bestellijn.wijn.prijs * bestellijn.aantal) %}
                {% endfor %}
                <tr class="productlijst-bestelling-subtotaal">
                    <td colspan="4">Subtotaal bestelling</td>
                    <td>&euro; {{ (subtotaalBestelling / 100)|number_format(2) }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <a class="btn btn-success" href="{{ path('vino_pillar_checkout') }}">Bevestig bestelling</a>
        <a class="btn btn-default" href="{{ path('vino_pillar_mandje') }}">Terug naar mandje</a>
    {% else %}
        <p>Uw mandje is leeg...</p>
    {% endif %}
{% endblock %}

{#{% block javascripts %}
    {{ parent() }}
    
    <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('#productlijst').DataTable({
                    "order": [
                [ 1, "asc"],
                [ 2, "asc"],
                [ 3, "asc"]
            ]});
    });
    </script>
{% endblock %}#}