{# src/vino/PillarBundle/Resources/views/Mandje/checkout.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block body %}
    <h1>Besteloverzicht</h1>
    <div class="well">
        <h3>Adresgegevens</h3>
        <p>
            {{ user.vNaam }}&nbsp;{{ user.aNaam }}<br>
            {{ user.straat }}&nbsp;{{ user.huisnr }}{% if user.busnr != null or user.busnr != '' %}&nbsp;(bus {{ user.busnr }}){% endif %}<br>
            {{ user.postcode }}&nbsp;{{ user.gemeente }}
        </p>
    </div>
    <h3>Bestelling</h3>
    {% if mandje is defined and mandje != null %}
        <table class="productlijst">
            <tbody>
                {% set totaalFlessen = 0 %}
                {% set subtotaalBestelling = 0 %}
                {% for bestellijn in mandje.bestellijn %}
                    {% set totaalFlessen = totaalFlessen + bestellijn.aantal %}
                    <tr class="productlijst-top-1">
                        <td colspan="5">
                            Product
                        </td>
                    </tr>
                    <tr class="productlijst-sub">
                        <td class="productlijst-bedrag productlijst-10pc">Aantal</td>
                        <td>Naam</td>
                        <td class="productlijst-bedrag productlijst-10pc">Jaar</td>
                        <td class="productlijst-bedrag productlijst-10pc">Prijs / stuk</td>
                        <td class="productlijst-bedrag productlijst-10pc">Subtotaal</td>
                    </tr>
                    <tr>
                        <td class="productlijst-bedrag">{{ bestellijn.aantal }}</td>
                        <td>{{ bestellijn.wijn.naam }}</td>
                        <td class="productlijst-bedrag">{{ bestellijn.wijn.jaar }}</td>
                        <td class="productlijst-bedrag">&euro; {{ (bestellijn.wijn.prijs / 100)|number_format(2) }}</td>
                        <td class="productlijst-bedrag">
                            &euro; {{ (bestellijn.wijn.prijs * bestellijn.aantal / 100)|number_format(2) }}
                        </td>
                    </tr>
                    <tr class="productlijst-top-2">
                        <td colspan="5">
                            Verpakking
                        </td>
                    </tr>
                    <tr class="productlijst-sub">
                        <td class="productlijst-bedrag">Aantal</td>
                        <td colspan="2">Omschrijving</td>
                        <td class="productlijst-bedrag">Prijs / stuk</td>
                        <td class="productlijst-bedrag">Subtotaal</td>
                    </tr>
                    {% set aantalVerpakteFlessen = 0 %}
                    {% set subtotaalVerpakking = 0 %}
                    {# Iteratie om na te gaan hoeveel verpakte flessen er in totaal al zijn #}
                    {% for verpakkingtype in verpakkinglijst %}
                        {% for verpakkinglijn in bestellijn.verpakkinglijn %}
                            {% if verpakkinglijn.verpakking.id == verpakkingtype.id %}
                                {% set aantalVerpakteFlessen = aantalVerpakteFlessen + (verpakkinglijn.aantal * verpakkingtype.aantalFlessen) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <td class="productlijst-bedrag">{{ (bestellijn.aantal - aantalVerpakteFlessen) }}</td>
                        <td colspan="2">Losse fles</td>
                        <td class="productlijst-bedrag">&euro; 0.00</td>
                        <td class="productlijst-bedrag">&euro; 0.00</td>
                    </tr>
                    {% for verpakkingtype in verpakkinglijst %}
                        <tr>
                            <td class="productlijst-bedrag">
                                {# Aantal checken en weergeven door iteratie #}
                                {% set aantalVerpakking = 0 %}
                                {% for verpakkinglijn in bestellijn.verpakkinglijn %}
                                    {% if verpakkinglijn.verpakking.id == verpakkingtype.id %}
                                        {#<pre>
                                        {{ dump(verpakkinglijn) }}
                                        </pre>#}
                                        {% set aantalVerpakking = verpakkinglijn.aantal %}
                                        {# set aantalVerpakteFlessen = aantalVerpakteFlessen + (aantalVerpakking * verpakkingtype.aantalFlessen) #}
                                    {% endif %}
                                {% endfor %}
                                {{ aantalVerpakking }}
                            </td>
                            <td colspan="2">{{ verpakkingtype.naam }}</td>
                            <td class="productlijst-bedrag">&euro; {{ (verpakkingtype.prijs / 100)|number_format(2) }}</td>
                            <td class="productlijst-bedrag">
                                {# Subtotaal van deze verpakkinglijn #}
                                {% set subtotaalVerpakkinglijn = verpakkingtype.prijs * aantalVerpakking %}
                                {# Dit toevoegen aan het subtotaal van de verpakking #}
                                {% set subtotaalVerpakking = subtotaalVerpakking + subtotaalVerpakkinglijn %}
                                &euro; {{ (subtotaalVerpakkinglijn / 100)|number_format(2) }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="productlijst-sub">
                        <td colspan="4">Subtotaal verpakkingen</td>
                        <td class="productlijst-bedrag">&euro; {{ (subtotaalVerpakking / 100)|number_format(2) }}</td>
                    </tr>
                    {# Optellen van subtotalen voor deze bestellijn bij het geheel #}
                    {% set subtotaalBestelling = subtotaalBestelling + subtotaalVerpakking + (bestellijn.wijn.prijs * bestellijn.aantal) %}
                {% endfor %}
                <tr class="productlijst-top-1">
                    <td colspan="4">Subtotaal bestelling</td>
                    <td class="productlijst-bedrag">&euro; {{ (subtotaalBestelling / 100)|number_format(2) }}</td>
                </tr>
                <tr class="productlijst-top-2">
                    <td colspan="5">Leverwijze</td>
                </tr>
                <tr>
                    <td class="productlijst-bedrag">
                        {% if mandje.leverwijze == 0 %}
                            <a class="btn btn-warning" href="{{ path('vino_pillar_switchleverwijze') }}">Kies</a>
                        {% else %}
                            <b class="label label-success">Uw keuze</b>
                        {% endif %}
                    </td>
                    <td colspan="3">Levering aan huis</td>
                    <td class="productlijst-bedrag">
                        {% set leverPrijs = 0 %}
                        {% if totaalFlessen > 3 %}
                            &euro; {{ leverPrijs|number_format(2) }}
                        {% else %}
                            {% set leverPrijs = 300 %}
                            &euro; {{ (leverPrijs / 100)|number_format(2) }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="productlijst-bedrag">
                        {% if mandje.leverwijze == 1 %}
                            <a class="btn btn-warning" href="{{ path('vino_pillar_switchleverwijze') }}">Kies</a>
                        {% else %}
                            <b class="label label-success">Uw keuze</b>
                        {% endif %}
                    </td>
                    <td colspan="3">Afhaling in magazijn</td>
                    <td class="productlijst-bedrag">&euro; 0.00</td>
                </tr>
                <tr class="productlijst-top-1">
                    <td colspan="4">Eindtotaal</td>
                    <td class="productlijst-bedrag">
                        {% if mandje.leverwijze == 1 %}
                            {% set subtotaalBestelling = subtotaalBestelling + leverPrijs %}
                        {% endif %}
                        {{ (subtotaalBestelling / 100)|number_format(2) }}
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <a class="btn btn-success" href="{{ path('vino_pillar_confirm') }}">Bevestig bestelling</a>
        <a class="btn btn-default" href="{{ path('vino_pillar_mandje') }}">Terug naar mandje</a>
    {% else %}
        <p>Uw mandje is leeg...</p>
    {% endif %}
{% endblock %}

{#{% block javascripts %}
    {{ parent() }}
    
    <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('#productlijst').DataTable({
                    "order": [
                [ 1, "asc"],
                [ 2, "asc"],
                [ 3, "asc"]
            ]});
    });
    </script>
{% endblock %}#}