{# src/vino/PillarBundle/Resources/views/Mandje/confirm.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block body %}
    <h1>Dank voor uw bestelling!</h1>
    {% if bestelling is defined and bestelling != null %}
        <div class="well">
            <h3>Verzonden naar</h3>
            <p>
                {{ bestelling.klant.vNaam }}&nbsp;{{ bestelling.klant.aNaam }}<br>
                {{ bestelling.klant.straat }}&nbsp;{{ bestelling.klant.huisnr }}{% if bestelling.klant.busnr != null or bestelling.klant.busnr != '' %}&nbsp;(bus {{ bestelling.klant.busnr }}){% endif %}<br>
                {{ bestelling.klant.postcode }}&nbsp;{{ bestelling.klant.gemeente }}
            </p>
        </div>
        <h3>Bestelling</h3>
        <p>Besteld op: {{ bestelling.datum|date('d-m-Y') }}</p>
        <table class="productlijst">
            <tbody>
                {% set subtotaalBestelling = 0 %}
                {% set aantalFlessen = 0 %}
                {% for bestellijn in bestelling.bestellijn %}
                    {% set aantalFlessen = aantalFlessen + bestellijn.aantal %}
                    {% set subtotaalBestelling = subtotaalBestelling + (bestellijn.wijn.prijs * bestellijn.aantal) %}
                    <tr class="productlijst-top-1">
                        <td colspan="5">
                            Product
                        </td>
                    </tr>
                    <tr class="productlijst-sub">
                        <td class="productlijst-bedrag productlijst-10pc">Aantal</td>
                        <td>Naam</td>
                        <td class="productlijst-bedrag productlijst-10pc">Jaar</td>
                        <td class="productlijst-bedrag productlijst-10pc">Prijs / stuk</td>
                        <td class="productlijst-bedrag productlijst-10pc">Subtotaal</td>
                    </tr>
                    <tr class="productlijst-bestellijn">
                        <td class="productlijst-bedrag">{{ bestellijn.aantal }}</td>
                        <td>{{ bestellijn.wijn.naam }}</td>
                        <td class="productlijst-bedrag">{{ bestellijn.wijn.jaar }}</td>
                        <td class="productlijst-bedrag">&euro; {{ (bestellijn.wijn.prijs / 100)|number_format(2) }}</td>
                        <td class="productlijst-bedrag">
                            &euro; {{ (bestellijn.wijn.prijs * bestellijn.aantal / 100)|number_format(2) }}
                        </td>
                    </tr>
                    <tr class="productlijst-top-2">
                        <td colspan="5">
                            Verpakking
                        </td>
                    </tr>
                    <tr class="productlijst-sub">
                        <td class="productlijst-bedrag">Aantal</td>
                        <td colspan="2">Omschrijving</td>
                        <td class="productlijst-bedrag">Prijs / stuk</td>
                        <td class="productlijst-bedrag">Subtotaal</td>
                    </tr>
                    {% set aantalVerpakteFlessen = 0 %}
                    {% for verpakkingtype in bestellijn.verpakkinglijn %}
                        {% set subtotaalBestelling = subtotaalBestelling + (verpakkingtype.verpakking.prijs * verpakkingtype.aantal) %}
                        {% set aantalVerpakteFlessen = aantalVerpakteFlessen + (verpakkingtype.aantal * verpakkingtype.verpakking.aantalFlessen) %}
                        <tr>
                            <td class="productlijst-bedrag">{{ verpakkingtype.aantal }}</td>
                            <td colspan="2">{{ verpakkingtype.verpakking.naam }}</td>
                            <td class="productlijst-bedrag">&euro; {{ (verpakkingtype.verpakking.prijs / 100)|number_format(2) }}</td>
                            <td class="productlijst-bedrag">
                                &euro; {{ (verpakkingtype.verpakking.prijs * verpakkingtype.aantal / 100)|number_format(2) }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% set aantalLosseFlessen = bestellijn.aantal - aantalVerpakteFlessen %}
                    {% if aantalLosseFlessen > 0 %}
                        <tr>
                            <td class="productlijst-bedrag">{{ aantalLosseFlessen }}</td>
                            <td colspan="2">Losse fles</td>
                            <td class="productlijst-bedrag">&euro; 0.00</td>
                            <td class="productlijst-bedrag">&euro; 0.00</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr class="productlijst-top-2">
                    <td colspan="5">
                        Leverwijze
                    </td>
                </tr>
                <tr>
                    <td class="productlijst-bedrag">&nbsp;</td>
                    <td colspan="3">
                        {% if bestelling.leverwijze == 0 %}
                            Afhaling in magazijn
                        {% else %}
                            Levering aan huis
                        {% endif %}
                    </td>
                    <td class="productlijst-bedrag">
                        {% if bestelling.leverwijze == 0 %}
                            &euro; 0.00
                        {% else %}
                            {% if aantalFlessen > 3 %}
                                &euro; 0.00
                            {% else %}
                                &euro; 3.00
                                {% set subtotaalBestelling = subtotaalBestelling + 300 %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr class="productlijst-top-1">
                    <td colspan="4">Eindtotaal bestelling</td>
                    <td class="productlijst-bedrag">
                        &euro; {{ (subtotaalBestelling / 100)|number_format(2) }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>Geen bestelling te tonen...</p>
    {% endif %}
{% endblock %}

{#{% block javascripts %}
    {{ parent() }}
    
    <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('#productlijst').DataTable({
                    "order": [
                [ 1, "asc"],
                [ 2, "asc"],
                [ 3, "asc"]
            ]});
    });
    </script>
{% endblock %}#}