{# src/vino/PillarBundle/Resources/views/Mandje/mandje.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block body %}
    <h1>Uw mandje</h1>
    <hr>
    {% if mandje is defined and mandje != null %}
        <table class="productlijst">
            <tbody>
                {% set subtotaalBestelling = 0 %}
                {% for bestellijn in mandje.bestellijn %}
                    <tr class="productlijst-top-1">
                        <td colspan="6">
                            Product
                        </td>
                    </tr>
                    <tr class="productlijst-sub">
                        <td class="productlijst-bedrag productlijst-10pc">Aantal</td>
                        <td>Naam</td>
                        <td class="productlijst-bedrag productlijst-10pc">Jaar</td>
                        <td class="productlijst-acties">Acties</td>
                        <td class="productlijst-bedrag productlijst-10pc">Prijs / stuk</td>
                        <td class="productlijst-bedrag productlijst-10pc">Subtotaal</td>
                    </tr>
                    <tr>
                        <td class="productlijst-bedrag">{{ bestellijn.aantal }}</td>
                        <td>{{ bestellijn.wijn.naam }}</td>
                        <td class="productlijst-bedrag">{{ bestellijn.wijn.jaar }}</td>
                        <td class="productlijst-acties">
                            <a class="btn btn-default" href="{{ path('vino_pillar_wijndetail', {'slug': bestellijn.wijn.slug}) }}" alt="Bekijk detail" title="Bekijk detail"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a class="btn btn-warning" href="{{ path('vino_pillar_mandjeaantal', {'slug': bestellijn.wijn.slug, 'aantal': 1}) }}" alt="+1" title="+1"><span class="glyphicon glyphicon-plus"></span></a>
                            <a class="btn btn-warning" href="{{ path('vino_pillar_mandjeaantal', {'slug': bestellijn.wijn.slug, 'aantal': -1}) }}" alt="-1" title="-1"><span class="glyphicon glyphicon-minus"></span></a>
                            <a class="btn btn-danger" href="{{ path('vino_pillar_killmandjelijn', {'slug': bestellijn.wijn.slug}) }}" alt="Verwijder uit mandje" title="Verwijder uit mandje"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                        <td class="productlijst-bedrag">&euro; {{ (bestellijn.wijn.prijs / 100)|number_format(2) }}</td>
                        <td class="productlijst-bedrag">
                            &euro; {{ (bestellijn.wijn.prijs * bestellijn.aantal / 100)|number_format(2) }}
                        </td>
                    </tr>
                    <tr class="productlijst-top-2">
                        <td colspan="6">
                            Verpakking
                        </td>
                    </tr>
                    <tr class="productlijst-sub">
                        <td class="productlijst-bedrag">Aantal</td>
                        <td colspan="2">Omschrijving</td>
                        <td class="productlijst-acties">Acties</td>
                        <td class="productlijst-bedrag">Prijs / stuk</td>
                        <td class="productlijst-bedrag">Subtotaal</td>
                    </tr>
                    {% set aantalVerpakteFlessen = 0 %}
                    {% set subtotaalVerpakking = 0 %}
                    {# Iteratie om na te gaan hoeveel verpakte flessen er in totaal al zijn #}
                    {% for verpakkingtype in verpakkinglijst %}
                        {% for verpakkinglijn in bestellijn.verpakkinglijn %}
                            {% if verpakkinglijn.verpakking.id == verpakkingtype.id %}
                                {% set aantalVerpakteFlessen = aantalVerpakteFlessen + (verpakkinglijn.aantal * verpakkingtype.aantalFlessen) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <td class="productlijst-bedrag">{{ (bestellijn.aantal - aantalVerpakteFlessen) }}</td>
                        <td colspan="2">Losse fles</td>
                        <td class="productlijst-acties">&nbsp;</td>
                        <td class="productlijst-bedrag">&euro; 0.00</td>
                        <td class="productlijst-bedrag">&euro; 0.00</td>
                    </tr>
                    {% for verpakkingtype in verpakkinglijst %}
                        <tr>
                            <td class="productlijst-bedrag">
                                {# Aantal checken en weergeven door iteratie #}
                                {% set aantalVerpakking = 0 %}
                                {% for verpakkinglijn in bestellijn.verpakkinglijn %}
                                    {% if verpakkinglijn.verpakking.id == verpakkingtype.id %}
                                        {#<pre>
                                        {{ dump(verpakkinglijn) }}
                                        </pre>#}
                                        {% set aantalVerpakking = verpakkinglijn.aantal %}
                                        {# set aantalVerpakteFlessen = aantalVerpakteFlessen + (aantalVerpakking * verpakkingtype.aantalFlessen) #}
                                    {% endif %}
                                {% endfor %}
                                {{ aantalVerpakking }}
                            </td>
                            <td colspan="2">{{ verpakkingtype.naam }}</td>
                            <td class="productlijst-acties">
                                {# Toon acties naargelang aantal onverpakte flessen #}
                                {% set aantalOnverpakteFlessen = bestellijn.aantal - aantalVerpakteFlessen %}
                                {#Verpakte flessen = {{ aantalVerpakteFlessen }}
                                Onverpakte flessen = {{ aantalOnverpakteFlessen }}#}
                                {% if verpakkingtype.aantalFlessen <= aantalOnverpakteFlessen %}
                                    <a class="btn btn-warning" href="{{ path('vino_pillar_inverpakking', {'slug': bestellijn.wijn.slug, 'verpakking': verpakkingtype.id }) }}" alt="+1 deze verpakking" title="+1 deze verpakking"><span class="glyphicon glyphicon-plus"></span></a>
                                {% endif %}
                                {% if aantalVerpakking > 0 %}
                                    <a class="btn btn-warning" href="{{ path('vino_pillar_uitverpakking', {'slug': bestellijn.wijn.slug, 'verpakking': verpakkingtype.id }) }}" alt="-1 deze verpakking" title="-1 deze verpakking"><span class="glyphicon glyphicon-minus"></span></a>
                                {% endif %}
                            </td>
                            <td class="productlijst-bedrag">&euro; {{ (verpakkingtype.prijs / 100)|number_format(2) }}</td>
                            <td class="productlijst-bedrag">
                                {# Subtotaal van deze verpakkinglijn #}
                                {% set subtotaalVerpakkinglijn = verpakkingtype.prijs * aantalVerpakking %}
                                {# Dit toevoegen aan het subtotaal van de verpakking #}
                                {% set subtotaalVerpakking = subtotaalVerpakking + subtotaalVerpakkinglijn %}
                                &euro; {{ (subtotaalVerpakkinglijn / 100)|number_format(2) }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="productlijst-sub">
                        <td colspan="5">Subtotaal verpakkingen</td>
                        <td class="productlijst-bedrag">&euro; {{ (subtotaalVerpakking / 100)|number_format(2) }}</td>
                    </tr>
                    {# Optellen van subtotalen voor deze bestellijn bij het geheel #}
                    {% set subtotaalBestelling = subtotaalBestelling + subtotaalVerpakking + (bestellijn.wijn.prijs * bestellijn.aantal) %}
                {% endfor %}
                <tr class="productlijst-top-1">
                    <td colspan="5">Subtotaal bestelling</td>
                    <td>&euro; {{ (subtotaalBestelling / 100)|number_format(2) }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <a class="btn btn-success" href="{{ path('vino_pillar_checkout') }}">Bestellen</a>
        <a class="btn btn-default" href="{{ path('vino_pillar_ledig') }}">Ledigen</a>
    {% else %}
        <p>Uw mandje is leeg... Ga naar het <a href="{{ path('vino_pillar_wijnen') }}">wijnoverzicht</a> om aankopen te selecteren.</p>
    {% endif %}
{% endblock %}
{#
{% block javascripts %}
    {{ parent() }}
    
    <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('#productlijst').DataTable({
                    "order": [
                [ 1, "asc"],
                [ 2, "asc"],
                [ 3, "asc"]
            ]});
    });
    </script>
{% endblock %}
#}