{# src/vino/PillarBundle/Resources/views/Klant/register.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
    <h1>Registratieformulier</h1>
    <div class="well well-lg">
        {% if form is defined %}
            {{ form_start(form) }}
                {{ form_errors(form) }}

                {# form_row(form.vNaam) #}
                <div class="form-group">
                    {{ form_label(form.vNaam, 'Voornaam', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-6">
                    {{ form_errors(form.vNaam) }}
                    {{ form_widget(form.vNaam) }}
                    </div>
                </div>

                {# form_row(form.aNaam) #}
                <div class="form-group">
                    {{ form_label(form.aNaam, 'Familienaam', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-6">
                    {{ form_errors(form.aNaam) }}
                    {{ form_widget(form.aNaam) }}
                    </div>
                </div>

                {# form_row(form.straat) #}
                <div class="form-group">
                    {{ form_label(form.straat, 'Straat', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                    {{ form_errors(form.straat) }}
                    {{ form_widget(form.straat) }}
                    </div>
                </div>

                {# form_row(form.huisnr) #}
                <div class="form-group">
                    {{ form_label(form.huisnr, 'Huisnummer', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-2">
                    {{ form_errors(form.huisnr) }}
                    {{ form_widget(form.huisnr) }}
                    </div>
                </div>

                {# form_row(form.busnr) #}
                <div class="form-group">
                    {{ form_label(form.busnr, 'Busnummer', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-2">
                    {{ form_errors(form.busnr) }}
                    {{ form_widget(form.busnr) }}
                    </div>
                </div>

                {# form_row(form.postcode) #}
                <div class="form-group">
                    {{ form_label(form.postcode, 'Postcode', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-2">
                    {{ form_errors(form.postcode) }}
                    {{ form_widget(form.postcode) }}
                    </div>
                </div>

                {# form_row(form.gemeente) #}
                <div class="form-group">
                    {{ form_label(form.gemeente, 'Gemeente', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-6">
                    {{ form_errors(form.gemeente) }}
                    {{ form_widget(form.gemeente) }}
                    </div>
                </div>

                {# form_row(form.email) #}
                <div class="form-group">
                    {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-6">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                    </div>
                </div>

                {# form_row(form.paswoord) #}
                <div class="form-group">
                    {{ form_label(form.paswoord, 'Paswoord', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-4">
                    {{ form_errors(form.paswoord) }}
                    {{ form_widget(form.paswoord) }}
                    </div>
                </div>

                <div class="col-sm-2"></div>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}