{# src/vino/PillarBundle/Resources/views/Product/productlijst.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block body %}
    <h1>Onze wijnen</h1>
    <hr>
    <table class="productlijst">
        <thead>
            <tr>
                <td>Naam</td>
                <td>Jaar</td>
                <td>Land</td>
                <td>Categorie</td>
                <td>Prijs</td>
                <td>Rating</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% for product in productlijst %}
                <tr>
                    <td>{{ product.naam }}</td>
                    <td>{{ product.jaar }}</td>
                    <td>{{ product.land.naam }}</td>
                    <td>{{ product.categorie.naam }}</td>
                    <td>&euro; {{ (product.prijs / 100)|number_format(2) }}</td>
                    <td data-order="{{ product.rating }}">
                        {% set dezeRating = product.rating|round %}
                        {% if dezeRating == 0 %}
                            <span class="glyphicon glyphicon-ban-circle" alt="Nog niet gewaardeerd" title="Nog niet gewaardeerd"></span>
                        {% else %}
                            <span alt="{{ product.rating|number_format(2) }} / 5" title="{{ product.rating|number_format(2) }} / 5">
                            {% for i in 1..(dezeRating) %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% if dezeRating < 5 %}
                                    {% for j in (dezeRating+1)..5 %}
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    {% endfor %}
                            {% endif %}
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ path('vino_pillar_wijndetail', {'slug': product.slug}) }}" alt="Bekijk detail" title="Bekijk detail"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-warning" href="{{ path('vino_pillar_productinmandje', {'slug': product.slug}) }}" alt="In mandje" title="In mandje"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.productlijst').DataTable({
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [ 6 ] }
                ],
                language: {
                    url: '{{ app.request.basepath }}/js/vendor/datatables.nederlands.txt'
                },
                "order": [
                [ 0, "asc"],
                [ 1, "asc"],
                [ 4, "asc"]
            ]});
        });
    </script>
{% endblock %}